[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
opencv-python-headless = "*"
scipy = "*"
xarray = "*"
metpy = "*"
pygrib = "*"
lxml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
